.form-control {
	text-align: right
}

.form-group.required .control-label:before { 
   content: "*";
   color: red;
   font-size: 20px;
}

.container {
	text-align: right;

}

.scrollable {
	width: 100%;
    white-space:nowrap;

}

.searchCol {
	border-style: groove;
	width:200px;
	height:45px;
	margin:0px;
	display:inline-block
}

.searchCol.dragging {
	opacity: 0.8;
	width: 200px;
}


.selectCol {
	width: 100%;
}

.cell {
	width:200px;
	height:25px;
	margin:0px;
	display:inline-block
}
