.form-control {
	text-align: right
}

.form-group.required .control-label:before { 
   content: "*";
   color: red;
}

.error {
	color: red;
}

.datetime-picker div > table .btn-default {
  	border: 0;
}

.container {
	text-align: right;

}


h1 {
text-align: center;
	
}

#iframe {

	height: 400px;
}