<div data-ng-controller="orderCtrl" data-ng-init="getUser(0)">
<script ng-src="https://apis.google.com/js/client.js"></script>

<title>Update order - {{orderID}}</title>
<link ng-if="form.dir == 'rtl'" rel="stylesheet" href="css/style.css?v=1">
<link ng-if="form.dir == 'ltr'" rel="stylesheet" href="css/styleEng.css?v=1">

<h1>
	<img ng-if="form.logo" ng-src="https://googledrive.com/host/0BxKK2ik5inqBfndtazV1ZElzT1ptamJjWGJyZ3R6MUxaTlBTVVI4eUtNdVBoZEo3OGZsUHc/{{form.logo}}" class="logo" style="width:210px;height:70px;margin-right:0px;" />
	<button ng-if="role=='admin'" class="btn btn-link" ng-click="editForm()">Edit Form</button> 
	<span ng-if="role!='admin'">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span> 
	{{form.title}}
</h1>

<div class="col-sm-6 col-sm-offset-5">
	<label style="margin-left:60px;">Order ID: {{orderID}}</label>
</div>
<div class="col-sm-6 col-sm-offset-5">
	<p>User: {{user}} 
		<label ng-if="user==''" style="color:red;"> Missing </label>
		<a href="" ng-click="getUser(1)" style="text-decoration: underline">  Change </a>
	</p>
</div>
    <!--Add a file picker for attachments -->
<div class="col-sm-7 col-sm-offset-5">
	<div class="btn-group">
	  <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="!templateExist">
	    {{newFile[form.dir]}}<span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu">
	    <li><a href="" ng-repeat="file in templateList | orderBy:'title'" ng-click="addFile(file)" >{{file.title}}</a></li>
	  </ul>
	</div>
	<div class="btn-group">
	  <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="setFolders()">
	    {{attachFiles[form.dir]}}<span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu">
	    <li>
	    	<a href="" ng-repeat="folder in folderList | orderBy:'title'" ng-click="selectFile(folder)">{{folder.title}}</a>
	    </li>
	  </ul>
	  <input type="file" multiple=true file-on-change="initUpload" style="display:none" id="file"/>
	</div>
	<div class="btn-group">
	  <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="setFolders()" ng-disabled="!fileExist">
	    {{showFiles[form.dir]}} <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
	    <li class="dropdown-submenu" ng-repeat="folder in folderList | orderBy:'title'" >
	    	<a href="" ng-click="openFolder(folder)" ng-if="folder.fileExist">{{folder.title}}</a>
         	<ul class="dropdown-menu">
	    		<li class="menu-item" ng-repeat="file in folder.fileList | orderBy:'title'" ng-click="openFile(file)"> 
	    			<a href="">{{file.title}}</a> 
	    		</li>
	      	</ul>
     	</li>
	  </ul>
	</div>
	<span ng-if="fileExist" class="glyphicon glyphicon-folder-open" style="color: red"></span>
	<span ng-if="!fileExist" class="glyphicon glyphicon-folder-close" style="color: grey"></span>
	<br><br>
</div>

<!-- Modal -->

	<div class="modal-dialog modal-sm" id="upload_popup" data-backdrop="false" style="display: none;">

	    <!-- Modal content-->
	    <div class="modal-content">
		    <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal-dialog" ng-click="closeUpload()">&times;</button>
		        <h4 class="modal-title">{{uploadStatus}}</h4>
		    </div>
		    <div class="modal-body">
		        <p style="white-space: pre-wrap;">{{uploadList}}</p>

				<div class="progress col-sm-12">
			    	<div class="progress-bar" role="progressbar" progress-bar-watch="progress" progress-bar aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width:{{uploadProgress}}%"></div>
			  	</div>

			  	<br>
		    </div>
		    <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal-dialog" ng-click="closeUpload()">Close</button>
		    </div>
	    </div>

	</div>



<br>
<div class="container col-sm-12" ng-if="order">
		
	<div class="col1 col-sm-6" ng-repeat="col in columns">	
		<form role="form" name="editForm" target="autocomplete" action="about:blank" autocomplete="on">
	    <fieldset>
				  
			<div ng-repeat="field in form.fields | filter: { col: col} ">
		      <!----   Read only fields  ---->
		      <div class="form-group col-sm-12" ng-if="field.fieldType=='Read Only' && field.type!='EmbedHyperlink' && field.type!='Hyperlink' && field.type!='Email'">
		        <label ng-if="form.dir == 'ltr'" class="col-sm-5 control-label" for="{{field.name}}">{{field.name}}</label>		      	
		        <div class="col-sm-7">
		          <input type="text" class="form-control" name="{{field.name}}" id="{{field.name}}" ng-model="field.value" ng-disabled="{{field.fieldType=='Read Only'}}">
		        </div>
		        <label ng-if="form.dir=='rtl'" class="col-sm-5 control-label" for="{{field.name}}">{{field.name}}</label>
		      </div>
		      
		      <!----- iFrame for embedded hyperlink   ------>

		      <div class="form-group col-sm-12" ng-if="field.type=='EmbedHyperlink'">
		        	<label class="col-sm-12 control-label" for="{{field.name}}">{{field.name}}</label>
		        	<div class="col-sm-12">
		         	<iframe ng-src="{{field.value}}" class="form-control" name="{{field.name}}" id="iframe"></iframe>
		        	</div>
		      </div>

		      <!------ Hyperlink or Email field   -------->
		      <div class="form-group col-sm-12" ng-if="field.type=='Hyperlink' || field.type=='Email'">
		      	<label ng-if="form.dir=='ltr'" class="col-sm-5 control-label" for="{{field.name}}">{{field.name}}</label>
		      	<div class="col-sm-7">
		         	<a href="" ng-click="openLink($event, field)" class="form-control" name="{{field.name}}" id="{{field.name}}" style="overflow: hidden; text-overflow: ellipsis;" >{{field.value}} </a>
		        </div>
		        <label ng-if="form.dir=='rtl'" class="col-sm-5 control-label" for="{{field.name}}">{{field.name}}</label>
		      </div>

		      <! ------    Edit TEXT fields   ------>
		      <div class="form-group col-sm-12" ng-class="isRequired(field)" ng-if="field.fieldType!='Read Only' && (field.type=='TEXT' || field.type=='CHARGE')" >
		      	<label ng-if="form.dir=='ltr'" class="col-sm-5 control-label" for="{{field.name}}">{{field.name}}</label>
		        <div class="col-sm-7">
		          <input type="text" dir="{{form.dir}}" class="form-control" name="{{field.name}}" id="{{field.name}}" ng-model="field.value" ng-blur="checkUnique(field)" ng-change="field.value=validate(field)" autocomplete="on" ng-disabled="{{field.fieldType=='Read Only'}}">
		          <span class="error" ng-show="field.error">{{field.message}}</span>
		        </div>
		        <label ng-if="form.dir=='rtl'" class="col-sm-5 control-label" for="{{field.name}}">{{field.name}}</label>
		      </div>

			  <!-------   Edit Select for Lists    ------>
		      <div class="form-group col-sm-12" ng-class="isRequired(field)" ng-if="field.fieldType!='Read Only' && field.type=='LIST'" >
		    	<label ng-if="form.dir=='ltr'" class="col-sm-5 control-label" for="{{field.name}}">{{field.name}}</label>
		        <div class="col-sm-7">
		        	<select dir="{{form.dir}}" class="form-control" name="{{field.name}}" id="{{field.name}}" ng-model="field.value" ng-blur="validate(field)" ng-change="field.value=validate(field)" ng-disabled="{{field.fieldType=='Read Only'}}">
		        		<option class="form-control" ng-repeat="value in field.listValues track by $index" ng-selected="value==field.value">{{value}}</option>
		        	</select>
		        	<span class="error" ng-show="field.error">{{field.message}}</span>
		        </div>
		        <label ng-if="form.dir=='rtl'" class="col-sm-5 control-label" for="{{field.name}}">{{field.name}}</label>
		      </div>
		   
		      <!-----  Date control  ---->
		      <div class="form-group col-sm-12" ng-class="isRequired(field)" ng-if="field.fieldType!='Read Only' && field.type=='DATE'">
		       <label ng-if="form.dir=='ltr'" class="col-sm-5 control-label" for="{{field.name}}">{{field.name}}</label>		      	
		       <div class="col-sm-7">
		         <p class="input-group">
		             <input type="text" class="form-control" name="{{field.name}}" id="{{field.name}}" ng-readonly="true" style="background-color:white; cursor: default;" datetime-picker="dd-MM-yyyy" ng-model="field.value" value="{{field.value}}" enable-time="false" close-on-date-selection="true" is-open="field.dateTimeCalendarisOpen" datepicker-options="dateOptions" ng-blur="validate(field)" ng-change="field.value=validate(field)" ng-disabled="{{field.fieldType=='Read Only'}}">
		             <span class="input-group-btn">
		                 <button type="button" class="btn btn-default" ng-click="openDateTimeCalendar($event, field)" ng-disabled="{{field.fieldType=='Read Only'}}"><i class="fa fa-calendar"></i></button>
		             </span>
		         </p>
		         <span class="error" ng-show="field.error">{{field.message}}</span>  
		       </div>
		       	<label ng-if="form.dir=='rtl'" class="col-sm-5 control-label" for="{{field.name}}">{{field.name}}</label>
		       </div> 

		      <!-----  DateTime control  ---->
		      <div class="form-group col-sm-12" ng-class="isRequired(field)" ng-if="field.fieldType!='Read Only' && field.type=='DATETIME'">
		       <label ng-if="form.dir=='ltr'" class="col-sm-5 control-label" for="{{field.name}}">{{field.name}}</label>
		       <div class="col-sm-7">
		         <p class="input-group">
		             <input type="text" class="form-control" name="{{field.name}}" id="{{field.name}}" ng-readonly="true" style="background-color:white; cursor: default;" datetime-picker="dd-MM-yyyy HH:mm" ng-model="field.value" value="{{field.value}}" enable-time="true" close-on-date-selection="true" is-open="field.dateTimeCalendarisOpen" timepicker-options="timeOptions" datepicker-options="dateOptions" ng-blur="validate(field)" ng-change="field.value=validate(field)" ng-disabled="{{field.fieldType=='Read Only'}}">
		             <span class="input-group-btn">
		                 <button type="button" class="btn btn-default" ng-click="openDateTimeCalendar($event, field)" ng-disabled="{{field.fieldType=='Read Only'}}"><i class="fa fa-calendar"></i></button>
		             </span>
		         </p>
		         <span class="error" ng-show="field.error">{{field.message}}</span>
		       </div>
		  	   	<label ng-if="form.dir=='rtl'" class="col-sm-5 control-label" for="{{field.name}}">{{field.name}}</label>
		       </div>        
		   </div>

		   	<div ng-if="col==1 && form.dir=='rtl' || col==2 && form.dir=='ltr'">
		     <div class="form-group col-sm-12" ng-if="!inProgress">
		     	<div ng-if="form.dir=='ltr'" class="col-sm-6"></div>
		        <div class="col-sm-3">
		          <button type="submit" ng-disabled="errorInForm()" class="btn btn-success" ng-click="updateOrder()">{{calcSaveButton[form.dir]}}</button>
		        </div>
		        <div class="col-sm-3">
		          <button type="submit" class="btn btn-info" ng-click="calcOrder()">{{calcButton[form.dir]}}</button>
		        </div>
		     </div>
		 	 <div class="col-sm-12">
		 	 	<div ng-if="form.dir=='ltr'" class="col-sm-5"></div>
			  	<div class="progress col-sm-7" ng-if="inProgress">
			    	<div class="progress-bar" role="progressbar" progress-bar-watch="progress" progress-bar aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width:{{progress}}%"></div>
			  	</div>
			 </div>
			 <div class="col-sm-12">
			 	<div ng-if="form.dir=='ltr'" class="col-sm-6"></div>
			 	<span class="col-sm-6 error" ng-show="form.error">{{form.message}}</span>	
			</div>  	         
	    </fieldset>
	  </form>
	</div>

	
</div>
