<link rel="stylesheet" href="css/style.css">
<div class="mapContainer col-sm-12" data-ng-controller="routeCtrl" data-ng-init="getRoute()">

	<div dir="ltr" class="list col-sm-6">
		<form role="form" class="form-horizontal">
			<p>Filter:</p>
	    		<div class="filter form-group col-sm-12" ng-repeat="filter in filterList">
	           		<div class="col-sm-5">
						<input type="text" class="form-control" name="{{filter.name}}" ng-model="filter.value"></input>
					</div>
					<div class="col-sm-7">
						<select class="form-control" name="{{filter.name}}" ng-model="filter.name" ng-change="addFilter(filter)">
					        <option ng-repeat="field in fieldList">{{field.name}}</option>
						</select>
					</div>
				</div>
				<button type="submit" class="btn btn-success" ng-click="getFilter()">Filter</button>
			<br>
			<br>
			<label><input type="checkbox" ng-model="optimize"> Optimize route </label>
			<br>
			<br>
			<div class="col-sm-1">	
				<img src="{{startIcon}}">
			</div>
			<div class="col-sm-3">
				<label>Start: </label>
			</div>
			<div class="col-sm-8">	
				<input type="text" class="form-control" ng-model="startAddress"></input>
			</div>
			<br>
			<br>
			<br>
			<div class="list-group">
				<div ng-repeat="order in dirList" draggable="true" ng-drag="true" ng-drag-data="{{order}}" ng-drag-success="onDragComplete(order,$event)" ng-drop="true" ng-drop-success="onDropComplete(order,$data,$event)">
					<a href="" class="list-group-item"><p style="color: blue;">{{order.distance}} {{order.duration}}</p>{{order.eventDate}} {{order.title}}<p><img src="{{order.img}}"> <b>{{order.location}}</b></p></a>
				</div>
			</div>
			<div class="col-sm-1">	 
				<img src="{{endIcon}}">
			</div>
			<div class="col-sm-3">
				<label>End: </label>
			</div>
			<div class="col-sm-8">	
				<input type="text" class="form-control" ng-model="endAddress"></input>
			</div>	
			<br>
			<br>
			<br>
			<button type="submit" class="btn btn-info" ng-disabled="startAddress==null || startAddress==''" ng-click="calcRoute()">Calculate Route</button>
			<p style="color: red;">{{message}}</p>
		</form>	
	</div>	
	<div id="map-canvas" class="map col-sm-6" style="height:840px;">
	</div>
</div>
<div id="buffer" class="col-sm-6">
</div>
<div id="dirPanel" class="panel col-sm-6">
	<br>
	<br>
	<p>Total Distance: <span id="total"></span></p>
</div>	


